header{
	width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
	margin-top: 5vw;
	margin-bottom: 5vw;
}

header img{
	width:80vw;
}

nav{
	width: 100%;
	/*margin-left: 0vw;
	margin-right: 0vw;*/
	margin-left: 0vw;
	margin-right: 0vw;
    text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-evenly;
	align-items: center;
	padding-bottom:1vw
}

.Button p{
	display: none;
}

.Button{
	display:none;
	width: 98%;
	font-size: 14vw;
	margin-top: 2vw;
	margin-bottom: 1vw;
	margin-left: 0vw;
	margin-right: 0vw;
}

nav a{
	width: 98%;
	font-size: 14vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
	margin-left: 0vw;
	margin-right: 0vw;
}

.Button:hover {
	
}

.Button:active{
	
}

.Selected{

}

.Unselected {

}

article{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

article h1{
	font-size: 12vw;
	text-align: center;
}

article h2{
	font-size: 8vw;
	text-align: center;
}

article p{
	font-size: min(3vw);
	font-size: max(6vw);
	margin-left: 2vw;
	margin-right: 2vw;
}

article img{
	display: block;
	max-width:80vw;
	margin-left: auto;
	margin-right: auto;
}

section{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

section h1{
	font-size: 12vw;
	text-align: center;
}

section h2{
	font-size: 8vw;
	text-align: center;
}

section p{
	font-size: min(3vw);
	font-size: max(6vw);
	margin-left: 2vw;
	margin-right: 2vw;
}

section img{
	display: block;
	max-width:80vw;
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 4vw;
}

table{
	max-width:80vw;
	margin-left: auto;
	margin-right: auto;
	font-size: 4vw;
}

td{
	margin: 4vw;
	padding: 0.5vw;
	font-size: 4vw;
}

tr{
	margin: 4vw;
	padding: 0.5vw;
	font-size: 4vw;
}

.Portfolio{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}

.Portfolio img{
	margin: 3vw 3vw; /*top-bottom then left-right*/	
	max-height: 100vw;
	max-width: 80vw;
}

.CodeBlock{
	display: block;
	/*margin: 1.5vw auto;*/
	margin-left: auto;
	margin-right: auto;
	padding-top: 2vw;
	padding-bottom: 2vw;
	width: 95vw;
}

.CodeBlock p{
	font-size: min(3vw);
	font-size: max(6vw);
	margin-top: 0px;
	margin-bottom: 0px;
}

.Tabulation{
	margin-left: 3em;
}

.TabulationTwo{
	margin-left: 6em;
}

.TabulationThree{
	margin-left: 9em;
}

.TabulationFour{
	margin-left: 12em;
}

footer{
	margin-bottom: 1vw;
}

footer p{
	font-size: 3vw;
}
