header{
	width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
	max-width: 50%;
	margin-top: 1.5vw;
	margin-bottom: 2vw;
	margin-left: auto;
	margin-right: auto;
}

nav{
	width: 90%;
	margin: auto;
	text-align: center;
	display: flex;
	align-items: left;
	justify-content: left;
	box-shadow: -0.4vw 0.4vw #343474;
	border-top: 8px #ce3474 solid;
	border-bottom: 8px #ff9090 solid;
}

.Button{
	display: none;
}

nav a{
	visibility: visible;
	font-size: /*56px*/2vw;
	margin-right: 8px;
}

.Selected{
	padding: 0.4vw 0.8vw; /*top-bottom then left-right*/
	max-width: /*360px;*/32vw;
}

.Unselected {
	padding: 0.4vw 0.8vw; /*top-bottom then left-right*/
	max-width: /*360px;*/32vw;
}

article{
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	/*flex-wrap: wrap;
	align-items: center;*/
	justify-content: center;
	border-top: 4px #000000 solid;
	padding-bottom: 1vw;
	margin-bottom: 1.7vw;
	box-shadow: -0.4vw 0.4vw #343474;
}

article h1{
	display:block;
	font-size: /*48px*/3vw;
	text-align: center;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

article h2{
	font-size: /*48px*/2vw;
	margin: 1vw 1.5vw;
}

article p{
	text-align: left;
	margin: 1vw 1.5vw; /*top-bottom then left-right*/
	font-size: /*24px;*/1vw;
}

article img{
	display: block;
	max-width: 75%;
	margin: 1vw/*32px*/ auto; /*top-bottom then left-right*/
}

section{
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	/*flex-wrap: wrap;
	align-items: center;*/
	justify-content: center;
	border-top: 4px #000000 solid;
	padding-bottom: 1vw;
	margin-bottom: 1.7vw;
	box-shadow: -0.4vw 0.4vw #343474;
}

section h1{
	display:block;
	font-size: /*48px*/3vw;
	text-align: center;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

section h2{
	font-size: /*48px*/2vw;
	margin: 1vw 1.5vw;
}

section p{
	text-align: left;
	margin: 1vw 1.5vw; /*top-bottom then left-right*/
	font-size: /*24px;*/1vw;
}

section img{
	display: block;
	max-width: 75%;
	margin: 1vw/*32px*/ auto; /*top-bottom then left-right*/
}

ul{
	list-style-type: none;
	list-style-image: url('/ASIR/IMG/hexagon.svg');
	margin: 0;
	padding: 0;
	font-size: /*24px;*/1vw;
}

table{
	max-width: 90%;
	margin: 1vw auto;
	font-size: /*24px;*/1vw;
}

td{
	margin: 2vw;
	padding: 0.5vw;
}

tr{
	margin: 2vw;
	padding: 0.5vw;
}

.Portfolio{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-grow: 3;
	justify-content: center;
	align-items: center;
}

.Portfolio img{
	margin: 2vw 2vw; /*top-bottom then left-right*/	
	max-height: 25vw; /*comment*/
	max-width: 25vw;
	overflow: hidden;
}

/*.Portfolio a{
    width: 30vw;
    height: 30vw; 
    overflow: hidden;
}*/

.CodeBlock{
	display: block;
	margin: 1.5vw auto;
	padding-top: 1vw;
	padding-bottom: 1vw;
	width: 95%;
}

.CodeBlock p{
	font-size: min(0.9vw);
	font-size: max(1vw);
	margin-top: 0px;
	margin-bottom: 0px;
}

.Tabulation{
	margin-left: 2em;
}

.TabulationTwo{
	margin-left: 4em;
}

.TabulationThree{
	margin-left: 6em;
}

.TabulationFour{
	margin-left: 8em;
}

footer{
	margin-bottom: 1vw;
}

footer p{
	font-size:/*24px;*/0.7vw;
}
