@font-face {
	font-family: SFRegular;
	src: url(/font/SFRegular.ttf);
}

@font-face {
	font-family: SFBold;
	src: url(/font/SFBold.ttf);
}

@font-face {
  font-family: ATI;
  src: url(/font/Px437_ATI_8x16.ttf);
}
