@font-face {
	font-family: SuperMarioWorld;
	src: url(/SMB/fnt/SMW.ttf);
}

@font-face {
	font-family: SuperMarioUSA;
	src: url(/SMB/fnt/SMB2.ttf);
}

@font-face {
	font-family: MarioKart;
	src: url(/SMB/fnt/MKDS.ttf);
}
html {
    
}

body{
    background-color: #0060b8;
    background-image: url(/SMB/img/bg/mountains.png);
    background-position: left bottom;
    background-repeat: repeat-x;
    image-rendering: pixelated;
    background-attachment: fixed;
    background-size: auto 65vh;
    position: relative;
    z-index: 1;
    /*background-size: contain;*/
    /*background: url(/SMB/img/bg/mountains.png) bottom left repeat-x #0060b8;*/
    /*background-size: 100%;*/
    /*background-size: contain;*/
}

@keyframes bgScroll {
  0% {
    background-position : 0px 0px
  }
  100% {
    background-position : -1536px 0px
  }
}

header{
    padding: 0vh 0vh;
    margin: 0vh -25vh;
    /*
    background-position: left top;
    background-repeat: repeat-x;
    height: 30vw;
    overflow: hidden;
    animation: slide 60s linear infinite;
    image-rendering: pixelated;
    background-attachment: fixed;
    */
    left:0px;
    top:0px;
    background-image: url(/SMB/img/bg/clouds.png);
    height: 65vh;
    background-position: left top;
    background-repeat: repeat-x;
    image-rendering: pixelated;
    background-attachment: fixed;
    background-size:auto 80%;
    animation: bgScroll 40s linear infinite;
    position: relative;
    z-index: 1;
}

article{
    background-color: #000000;
    position: relative;
    z-index: 16;
    padding: 4vh;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 4vh;
    /*margin-top: 4vh;*/
}

article p{
  font-family: SuperMarioWorld;
  color: #FFFFFF;
  font-size: 1vw;
}

article h1{
  font-family: MarioKart;
  color: #FFFFFF;
  font-size: 4vw;
  text-align: center;
}

.blankspace{
  height:64vh;
}

.mario{
  /*margin-top: auto;
  margin-bottom: auto;*/
  position:fixed;
  background-image: url(/SMB/img/bg/mario.png);
  background-size:100% 100%;
  width:64px;
  height:128px;
  image-rendering: pixelated;
  left: 60px;
  top: 630px;
  z-index: 32;
  animation:
    x 4s linear infinite,
    y 1s infinite cubic-bezier(0,511,1,511);
}
@keyframes y {
   to {
     top:629.5px;
    }
}
@keyframes x {
   0%{
    left:60px;
    transform: scaleX(-1);
   }
   49%{
    transform: scaleX(-1);
   }
   50%{
    left:360px;
    transform: scaleX(1);
   }
   51%{
    transform: scaleX(1);
   }
   99%{
    transform: scaleX(1);
   }  
   100%{
    left:60px;
    transform: scaleX(-1);
   }
   /*100%{
    /*-webkit-transform: scaleX(-1);
   }*/
  
}


.platform{
    border: 32px solid transparent;
    padding: 32px;
    background-size: 32px;
    border-image: url(/SMB/img/bg/platformborder.png) 16 round;
    /*
    border-image-slice: 16;
    border-image-width: 16;
    border-image-outset: 1;
    border-image-repeat: repeat;
    */
    position: fixed; 
    bottom: 0px;
    left: 0px;
    margin-top: 0px;
    background-image: url(/SMB/img/bg/filler.png);
    background-repeat: repeat;
    height:10vh;
    width:40vh;
    z-index: 32;
    image-rendering: pixelated;
}

.importantborder{
  border: 8px dashed #ffffff;
}

.level img {
  position: relative;
  margin-bottom: 0px;
  height: 10vh;
  z-index: 16;
  image-rendering: pixelated;
}

.pixelart{
    image-rendering: pixelated;
}

.Portfolio{
	  display: flex;
	  flex-wrap: wrap;
	  flex-direction: row;
	  flex-grow: 3;
	  justify-content: center;
	  align-items: center;
    image-rendering: pixelated;
}

.Portfolio img{
  	margin: 2vw 2vw; /*top-bottom then left-right*/	
  	max-height: 25vw; /*comment*/
  	max-width: 25vw;
  	overflow: hidden;
}