@font-face {
	font-family: SuperMarioWorld;
	src: url(/SMB/fnt/SMW.ttf);
}

@font-face {
	font-family: SuperMarioUSA;
	src: url(/SMB/fnt/SMB2.ttf);
}

@font-face {
	font-family: MarioKart;
	src: url(/SMB/fnt/MKDS.ttf);
}
html {
    
}

body{
    background-color: #0060b8;
    background-image: url(/SMB/img/bg/mountains.png);
    background-position: left bottom;
    background-repeat: repeat-x;
    image-rendering: pixelated;
    background-attachment: fixed;
    background-size: auto 65vh;
    position: relative;
    z-index: 1;
    /*background-size: contain;*/
    /*background: url(/SMB/img/bg/mountains.png) bottom left repeat-x #0060b8;*/
    /*background-size: 100%;*/
    /*background-size: contain;*/
}

@keyframes bgScroll {
  0% {
    background-position : 0px 0px
  }
  100% {
    background-position : -1024px 0px
  }
}

header{
    padding: 0vh 0vh;
    margin: 0vh -5vh;
    /*
    background-position: left top;
    background-repeat: repeat-x;
    height: 30vw;
    overflow: hidden;
    animation: slide 60s linear infinite;
    image-rendering: pixelated;
    background-attachment: fixed;
    */
    background-image: url(/SMB/img/bg/clouds.png);
    height: 65vh;
    background-position: left top;
    background-repeat: repeat-x;
    image-rendering: pixelated;
    background-attachment: fixed;
    background-size:auto 80%;
    animation: bgScroll 40s linear infinite;
    position: relative;
    z-index: 1;
}

article{
    background-color: #000000;
    position: relative;
    z-index: 16;
    font-family: SuperMarioWorld;
    color: #FFFFFF;
    padding: 4vh;
    font-size: 1vw;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 4vh;
    /*margin-top: 4vh;*/
}

.blankspace{
  height:64vh;
}

.mario{
  /*margin-top: auto;
  margin-bottom: auto;*/
  position:fixed;
  background-image: url(/SMB/img/bg/mario.png);
  background-size:100% 100%;
  width:64px;
  height:128px;
  image-rendering: pixelated;
  left:10px;
  top: 200px;
  z-index: 32;
  animation:
    x 2s linear infinite alternate,
    y 1s infinite cubic-bezier(0,255,1,255);
}
@keyframes y {
   to {
     top:199.5px;
   }
}
@keyframes x {
   0%{
    transform: scaleX(1);
   }
   to {
     left:250px;
   }
   100%{
    transform: scaleX(-1);
   }
   /*100%{
    /*-webkit-transform: scaleX(-1);
   }*/
  
}


.platform{
    border: 32px solid transparent;
    padding: 32px;
    background-size: 32px;
    border-image: url(/SMB/img/bg/platformborder.png) 16 round;
    /*
    border-image-slice: 16;
    border-image-width: 16;
    border-image-outset: 1;
    border-image-repeat: repeat;
    */
    position: fixed; 
    bottom: 0px;
    left: 0px;
    margin-top: 0px;
    background-image: url(/SMB/img/bg/filler.png);
    background-repeat: repeat;
    height:10vh;
    width:40vh;
    z-index: 32;
    image-rendering: pixelated;
}


.pixelart{
    image-rendering: pixelated;
}

.Portfolio{
	  display: flex;
	  flex-wrap: wrap;
	  flex-direction: row;
	  flex-grow: 3;
	  justify-content: center;
	  align-items: center;
}

.Portfolio img{
  	margin: 2vw 2vw; /*top-bottom then left-right*/	
  	max-height: 25vw; /*comment*/
  	max-width: 25vw;
  	overflow: hidden;
}