@font-face {
	font-family: SuperMarioWorld;
	src: url(/SMB/fnt/SMW.ttf);
}

@font-face {
	font-family: SuperMarioUSA;
	src: url(/SMB/fnt/SMB2.ttf);
}

@font-face {
	font-family: MarioKart;
	src: url(/SMB/fnt/MKDS.ttf);
}
html {
    
}
body{
    background-color: #0060b8;
}


header{
    min-height:10w;
    background: url(/SMB/img/bg/clouds.png) top left repeat-x;
    overflow: hidden;
    animation: slide 60s linear infinite;
    image-rendering: pixelated;
}

  
@keyframes slide{
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1692px, 0, 0);
    }
  }

footer{
    min-height:10w;
    background: url(/SMB/img/bg/mountains.png);
    background-position: left bottom;
    background-repeat: repeat-x;
    image-rendering: pixelated;
    background-attachment: fixed;
    /*background-size: contain;*/
    /*background: url(/SMB/img/bg/mountains.png) bottom left repeat-x #0060b8;*/
    /*background-size: 100%;*/
    /*background-size: contain;*/
}

.pixelart{
     image-rendering: pixelated;
}

.Portfolio{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-grow: 3;
	justify-content: center;
	align-items: center;
}

.Portfolio img{
	margin: 2vw 2vw; /*top-bottom then left-right*/	
	max-height: 25vw; /*comment*/
	max-width: 25vw;
	overflow: hidden;
}