@font-face {
	font-family: SuperMarioWorld;
	src: url(/SMB/fnt/SMW.ttf);
}

@font-face {
	font-family: SuperMarioUSA;
	src: url(/SMB/fnt/SMB2.ttf);
}

@font-face {
	font-family: MarioKart;
	src: url(/SMB/fnt/MKDS.ttf);
}

body{
    background-color: #0060b8;
    /*background-image: url(/SMB/img/bg/clouds.png), url(/SMB/img/bg/mountains.png);
    background-position: left top, left bottom;
    background-repeat: repeat-x, repeat-x;
    background-size: contain;
    image-rendering: pixelated;*/
    background: url(/SMB/img/bg/clouds.png) left top repeat-x, url(/SMB/img/bg/mountains.png) left bottom repeat-x;
    /*background-size: contain;*/
}

body.img{
    min-height:200%;
    image-rendering: pixelated;
}

.pixelart{
     image-rendering: pixelated;
}